html,
body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  background: #fff;
}
h1,
h2,
h3,
h4,
h5,
h6,
ul,
li,
p,
a,
div {
  margin: 0;
  padding: 0;
  font-size: 14px;
  color: #000;
  list-style: none;
  text-decoration: none;
  font-weight: normal;
}
.fullpage {
  background: #eee;
}
.fullpage .section {
  padding-top: 30px;
}
.fullpage .section .slide .box {
  background: #fff;
  margin-left: auto;
  margin-right: auto;
  width: 85%;
  border-radius: 5px;
  padding: 25px;
  box-sizing: border-box;
}
.fullpage .section .slide .box .title {
  font-size: 2em;
  color: #16a085;
  margin-bottom: 20px;
}
.fullpage .section .slide .box .img-container {
  text-align: center;
}
.fullpage .section .slide .box .img-container img {
  display: inline-block;
  width: 150px;
}
.fullpage .section .slide .box .content {
  margin-top: 20px;
  font-family: 'Roboto';
  font-size: 1.2em;
  line-height: 170%;
  color: #444;
}
.fullpage .section .slide .box .btn-container {
  margin-top: 15px;
  text-align: right;
}
.fullpage .section .slide .box .btn-container .btn {
  display: inline-block;
  background: #16a085;
  color: #fff;
  padding: 12px 55px;
  border-radius: 5px;
  font-size: 1.2em;
  cursor: pointer;
  position: relative;
  overflow: hidden;
}
.fullpage .section .slide .box .btn-container .btn:after {
  position: absolute;
  content: '';
  width: 100%;
  height: 100%;
  left: 0;
  bottom: 0;
  transform: translateY(100%);
  background: rgba(255, 255, 255, 0.1);
  transition: all 0.3s ease-out;
}
.fullpage .section .slide .box .btn-container .btn:hover:after {
  width: 100%;
  height: 100%;
  transform: none;
}
.header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  background: #fff;
  width: 100%;
  height: 75px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 5;
  box-shadow: 0px 3px 15px 0px rgba(217, 217, 217, 0.5);
  border-bottom: 1px solid #eee;
  transition: all 0.3s ease-out;
}
.header.active {
  box-shadow: 0px 0px 0px 0px rgba(255, 255, 255, 0);
}
.header .burger-menu {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-right: 2%;
  z-index: 5;
  overflow: hidden;
}
.header .burger-menu .line {
  background: #444;
  width: 55px;
  height: 5px;
  border-radius: 5px;
  margin: 5px;
  transform-origin: 12% 50%;
  transition: transform 0.3s ease-out;
}
.header .burger-menu .line:nth-child(2) {
  transform: translateX(0px);
}
.header .burger-menu.open .line:nth-child(1) {
  transform: rotate(45deg);
}
.header .burger-menu.open .line:nth-child(2) {
  transform: translateX(90px);
}
.header .burger-menu.open .line:nth-child(3) {
  transform: rotate(-45deg);
}
.header .logo {
  padding-left: 2%;
}
.header .logo img {
  width: 50px;
}
.header .title {
  font-family: 'Lobster', sans-serif;
  font-size: 2em;
  color: #444;
}
.mobile-menu {
  position: absolute;
  z-index: 4;
  top: 75px;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.8);
  display: flex;
  flex-direction: column;
  transition: transform 0.3s ease-out;
  transform: translateY(-500px);
}
.mobile-menu.active {
  transform: none;
}
.mobile-menu .item {
  font-size: 2em;
  padding: 25px;
  flex: 1;
  color: #eee;
  text-align: center;
  cursor: pointer;
}
.mobile-menu .item:hover {
  background: #222;
}
.mobile-menu .item span {
  padding-left: 25px;
}
.nav-btn .btn {
  position: fixed;
  bottom: 20px;
  left: 20px;
  background: #16a085;
  padding: 5px;
  color: #eee;
  width: 35px;
  height: 35px;
  line-height: 35px;
  text-align: center;
  border-radius: 50%;
  cursor: pointer;
}
.nav-btn .btn:first-child {
  bottom: 75px;
}
.nav-btn .btn:hover {
  background: #188a74;
}
@media screen and (max-width: 900px) {
  .fullpage {
    background: #fff;
  }
  .fullpage .section {
    padding-top: 120px;
  }
  .fullpage .section .slide .box {
    width: 90%;
    background: #eee;
    margin-bottom: 35px;
  }
}
